{% extends 'base.html' %}

{% block title %}Cara{% endblock %}

{% block content %}

<section id="hero">
    <h4>Trade-in-offer</h4>
    <h1>Super value deals <br><span>On all products</span></h1>
    <h6>Save more with cupons & up to 70% off!</h6>
    <button>Shop Now</button>
</section>

<section class="features">
    <div>
        <div class="services">
            <img src="../static/assets/img/features/f2.png" alt="">
            <h6>Free Shiping</h6>
        </div>
        <div class="services">
            <img src="../static/assets/img/features/f1.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="services">
            <img src="../static/assets/img/features/f3.png" alt="">
            <h6>Send Money</h6>
        </div>
        <div class="services">
            <img src="../static/assets/img/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="services">
            <img src="../static/assets/img/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="services">
            <img src="../static/assets/img/features/f6.png" alt="">
            <h6>24*7 Support</h6>
        </div>
    </div>
</section>

<section class="products">
    <div class="product-title">
        <h1>Featured Products</h1>
        <h6>Summer Collection New Modern Design</h6>
    </div>
    <div class="product-colmn">
        <div class="product-feature">
            <img src="../static/assets/img/products/f1.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f2.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Green flower T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
                
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f3.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Rose Brown T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f4.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Pink white T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
                
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f5.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Sky flower T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f6.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Party Wear Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f7.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Long Plasoo</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/f8.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Full seleve Top</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    
</section>

<section id="banner">
    <div class="banner-text">
        <h6>Repair services</h6>
        <h2>Up tp <span>70% Off</span>- All t-shirts & Accessories</h2>
        <a href="#"><button>Explore More</button></a>
    </div>
</section>

<section class="products">
    <div class="product-title">
        <h1>New Arrivals</h1>
        <h6>Summer Collection New Modern Design</h6>
    </div>
    <div class="product-colmn">
        <div class="product-feature">
            <img src="../static/assets/img/products/n1.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n2.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Green flower T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
                
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n3.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Rose Brown T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n4.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Pink white T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
                
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n5.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Sky flower T-Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-regular fa-star-half-stroke" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n6.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Party Wear Shirts</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n7.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Long Plasoo</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <div class="product-feature">
            <img src="../static/assets/img/products/n8.jpg" alt="t-shirt photo">
            <h6>adidas</h6>
            <h4>Full seleve Top</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>$78</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
    
</section>

<section class="banner">
    <div class="big-banner-1">
        <div class="banner-box-1">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <h6>The basic classic dress is on sale at cara</h6>
            <a href="#"><button>Learn More</button></a>
        </div>
        <div class="banner-box-2">
            <h4>spring / summer</h4>
            <h2>upcomming season</h2>
            <h6>The basic classic dress is on sale at cara</h6>
            <a href="#"><button>Collection</button></a>
        </div>
    </div>
    <div class="big-banner-2">
        <div class="banner-box-3 banner-property">
            <h5>seasonal sale</h5>
            <h6>Winter Conflict -50% OFF</h6>
        </div>
        <div class="banner-box-4 banner-property">
            <h5>Net Footwear Collection</h5>
            <h6>Spring / Summer 2022</h6>
        </div>
        <div class="banner-box-5 banner-property">
            <h5>T-Shirt</h5>
            <h6>New Trendy Point</h6>
        </div>
    </div>
</section>

{% endblock %}