{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section class="products">
    <div class="product-title">
        <h1>Featured Products</h1>
        <h6>Summer Collection New Modern Design</h6>
    </div>
    <div class="product-colmn">
        {% for product in all_featured_products %}
        <div class="product-feature">
            <img src="{{ product.image.url }}" alt="{{product.name}}">
            <h6>{{product.company}}</h6>
            <h4>{{product.name}}</h4>
            <div id="star">
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                <i class="fa-solid fa-star" style="color: #feee3e;"></i>
            </div>
            <div id="doller">
                <h5>${{product.price}}</h5>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="products">
    <div class="product-title">
        <h1>New Arrivals</h1>
        <h6>Summer Collection New Modern Design</h6>
    </div>
    <div class="product-colmn">
        <div class="product-colmn">
            {% for product in all_new_products %}
            <div class="product-feature">
                <img src="{{ product.image.url }}" alt="{{product.name}}">
                <h6>{{product.company}}</h6>
                <h4>{{product.name}}</h4>
                <div id="star">
                    <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                    <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                    <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                    <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                    <i class="fa-solid fa-star" style="color: #feee3e;"></i>
                </div>
                <div id="doller">
                    <h5>${{product.price}}</h5>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}